:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282642;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.react-flow__attribution {
  background: #373551;
  right: 8px !important;
}

.react-flow__attribution > a {
  color: white !important;
}

.react-flow .react-flow__handle {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.wrapper {
  flex-grow: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
}

.baseNode {
  background: #373551;
  border-left: 15px solid #45435f;
}

.customNode {
  background: transparent;
  border: none;
  padding-right: 20px;
}

.customNode:focus {
  border: none;
  outline: none;
}

.customNode:active {
  border: none;
  outline: none;
}

.customNode {
  overflow: hidden;
}

.react-flow__controls-button {
  background: #373551;
  fill: white;
  border-bottom: 1px solid #474564;
  transition: all 250ms ease-out;
}

.react-flow__controls-button:hover {
  background: #474564;
}
